@charset "UTF-8";

ul#album-fotos {
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

/* Faz os quadrados nas fotos*/
ul#album-fotos li {
	float: left;          /* Faz com que a lista fica do lado e nao embaixo dos outros*/
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid #ffffff;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all .5s ease-in;     /*Faz o zoom de forma mais suave*/
}


ul#album-fotos li#foto1 {
	background: url("../_imagens/galeria-01.jpg") no-repeat;
	background-position: 50% 50%;  /*Vizualizar o meio da imagem*/
	background-size: 400px 400px;  /*Tamanho original da imagem*/
	background-color: #ffffff;
}
ul#album-fotos li#foto1:hover {
	background-position: 0px 0px;
	background-size: 200px;
}


ul#album-fotos li#foto2 {
	background: url("../_imagens/galeria-02.jpg") no-repeat;
	background-position: 50% 50%;  /*Vizualizar o meio da imagem*/
	background-size: 400px 400px;  /*Tamanho original da imagem*/
	background-color: #ffffff;
}
ul#album-fotos li#foto2:hover {
	background-position: 0px 0px;
	background-size: 200px;
}


ul#album-fotos li#foto3 {
	background: url("../_imagens/galeria-03.jpg") no-repeat;
	background-position: 50% 50%;  /*Vizualizar o meio da imagem*/
	background-size: 400px 400px;  /*Tamanho original da imagem*/
	background-color: #ffffff;
}
ul#album-fotos li#foto3:hover {
	background-position: 0px 0px;
	background-size: 200px;
}


ul#album-fotos li#foto4 {
	background: url("../_imagens/galeria-04.jpg") no-repeat;
	background-position: 50% 50%;  /*Vizualizar o meio da imagem*/
	background-size: 400px 400px;  /*Tamanho original da imagem*/
	background-color: #ffffff;
}
ul#album-fotos li#foto4:hover {
	background-position: 0px 0px;
	background-size: 200px;
}


ul#album-fotos li#foto5 {
	background: url("../_imagens/galeria-05.jpg") no-repeat;
	background-position: 50% 50%;  /*Vizualizar o meio da imagem*/
	background-size: 400px 400px;  /*Tamanho original da imagem*/
	background-color: #ffffff;
}
ul#album-fotos li#foto5:hover {
	background-position: 0px 0px;
	background-size: 200px;
}


ul#album-fotos li#foto6 {
	background: url("../_imagens/galeria-06.jpg") no-repeat;
	background-position: 50% 50%;  /*Vizualizar o meio da imagem*/
	background-size: 400px 400px;  /*Tamanho original da imagem*/
	background-color: #ffffff;
}
ul#album-fotos li#foto6:hover {
	background-position: 0px 0px;
	background-size: 200px;
}


ul#album-fotos li span {
	opacity: 0;
	padding: 5px;
	color: #ffffff;
	text-shadow: 1px, 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 370px                   /* Fz com que a legenda fique embaixo na imagem*/

}

ul#album-fotos li:hover {     /*Modifica o li*/
	-webkit-transform: scale(1.5);        /*Zoom nas imagens*/

}

ul#album-fotos li:hover span {  /*Modifica o span */
	opacity: 1;
}